body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.member {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: calc(25% - 20px);
    /* Para quatro membros em uma linha */
    max-width: 300px;
    /* Largura máxima para responsividade */
}

.member-photo {
    max-width: 100%;
}

.member-details {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.member:hover .member-details {
    display: block;
}